.register_form {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  border: 3px solid #00c3ffe1;
  background-color: #DDDDDD;
}

.centerbox {
  box-shadow: #DDDDDD;
  background-color: #DDDDDD;
  box-sizing: border-box;
  width: 30%;
  padding: 10px;
  height: 100%;
  border: 8px solid #00c3ff0e;
  margin: 10px;
  align-items: center;
  font-family: sans-serif;
  justify-content: center;
}


.field_input {
  width: 70%;
  margin-top: 1px;
}

.invalid {
 color : red;
 border: none;
}

.popupOpen {
  display: block;  
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.popupHidden {
  display: none;  
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}